/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 70 69 69;
  --color-muted: 161 161 170;
  --backgroundColor-default: 255 255 255;
}

:root.dark {
  --color-primary: 191 191 190;
  --color-muted: 131 131 140;
  --backgroundColor-default: 19 19 20;
}

html,
body {
  color: var(--color-primary);
  background-color: rgba(var(--backgroundColor-default));
}

li {
  list-style-type: none;
}
