---
const today = new Date();
---

<footer class="flex justify-center p-12">
  <p class="text-mutedForeground font-light">
    &copy; {today.getFullYear()} Yamato Handai. All rights reserved.
  </p>
</footer>
